<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new user</title>
</head>
    <body>
        <form th:method="POST" th:action="@{/admin/add}" th:object="${newUser}" >
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" id="name"/>
            <br>

            <br>
            <label for="password">Password</label>
            <input type="text" th:field="*{password}" id="password"/>


            <input type="submit" value="Create"/>
        </form>

        <br>
        <button type="button" onclick="window.location.href = '/admin';">Back</button>

        <br>
        <button type="button" onclick="window.location.href = '/logout';">Logout</button>
    </body>
</html>